body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 4rem;
    height: 100svh;
}